* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

html {
	font-size: 62.5%;
}

body {
	background: url('../../images/bg-intro-mobile.png') $red no-repeat center /
		100% fixed;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

footer {
	width: 100vw;
	text-align: center;
	position: absolute;
	bottom: 1%;
	transform: translateY(-1%);
}
